[package]
name = "cairo-lang-syntax"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Cairo syntax representation."

[dependencies]
cairo-lang-debug = { path = "../cairo-lang-debug", version = "2.3.1" }
cairo-lang-filesystem = { path = "../cairo-lang-filesystem", version = "2.3.1" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "2.3.1" }
num-bigint.workspace = true
num-traits.workspace = true
rust-analyzer-salsa.workspace = true
smol_str.workspace = true
unescaper.workspace = true

[dev-dependencies]
env_logger.workspace = true
pretty_assertions.workspace = true
test-log.workspace = true
