<article class="doc">
{{#if (eq page.layout 'swagger')}}
{{> swagger-ui}}
{{else}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{/if}}
{{> pagination}}
</article>
