<div class="toolbar" role="navigation">
  {{!-- {{> nav-toggle}} --}}
  <div class="components-versions desktop-only">
    {{!-- {{> top-components}}
    <span></span>
    {{> page-versions}} --}}
  </div>
  <span></span>
  <span></span>
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}} mask-svg-center"></a>
  {{/with}}
  <div id="mobile-autocomplete" class="mobile-only"></div>
{{> breadcrumbs}}
  {{#if env.ALGOLIA_API_KEY}}
    <div id="docsearch-toolbar" class="search-box hide-for-print toolbar-search">
      <!--<input id="search-input" type="text" placeholder="Search me ...">-->
    </div>
  {{/if}}
  {{!-- {{#if (and page.fileUri (not env.CI))}}
  <div class="edit-this-page"><a href="{{page.fileUri}}"><img class="pencil">Edit this Page</a></div>
  {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <div class="edit-this-page"><a href="{{page.editUrl}}"><img class="pencil">Edit this Page</a></div>
  {{/if}} --}}
</div>
