.swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.swagger-ui .highlight-code {
  filter: invert(100%) hue-rotate(180deg);
}

.swagger-ui a.nostyle,
.swagger-ui a.nostyle:visited {
  color: var(--color-ultramarine-blue);
}

.base-url {
  background-color: unset;
}
