:root {
  --nav-background: var(--body-background);
  --nav-selected-bg: #EBF2FF;
  --nav-selected-icon-bg: #5C94FF;
  --nav-selected-fc: #0C0C4F;
  --nav-secondary-background: var(--color-athens-white);
  --nav-heading-fc: var(--color-jet-60);
  --nav-fc: var(--color-gray-80);

  /* navbar */
  --navbar_hover-background: var(--color-white);
  --navbar-font-color: var(--color-jet-60);
  --page-version-menu-background: var(--color-athens-white);
  --panel-background: var(--color-athens-white);
  --burger-menu-fc: var(--color-jet-60);
  /* fonts */
  --body-font-color: var(--color-black);
  /* doc */
  --heading-font-color: #0c0c4f;
  --link-font-color: var(--color-ultramarine-blue);
  --link_hover-font-color: var(--color-ultramarine-blue);
  --link_unresolved-font-color: #C507E4;
  --caption-font-color: var(--color-ink-blue);

  /* toc */
  --toc-heading-font-color: var(--heading-font-color);
  --toc-font-color: var(--color-gray-80);
  /*  footer  */
  --footer-background: var(--body-background);
  --footer-font-color: var(--color-gray-60);
  --footer-link-font-color: var(--color-gray-60);
  --footer-icon-color: #1B1B1B;
  /* doc body */
  --doc-font-color: var(--color-jet-60);
  --doc-link-color: #5C94FF;
  --doc-hljs-bg: #F6F6F6;
  --doc-hljs-border: var(--color-silver-gray);
  --doc-hljs-default-fc: var(--color-jet-60);
  --doc-hljs-number-color: #2266EF;
  --doc-hljs-string-color: #C506E4;
  --adm-tip-background: #EFFBFA;
  --adm-note-background: #EBF2FF;
  --adm-important-background: #FFF5EB;
  --adm-warning-background: #FFEDEB;
  --adm-tip-border: 1px solid #C4E2E0;
  --adm-note-border: 1px solid #DEE3ED;
  --adm-important-border: 1px solid #E9E1DA;
  --adm-warning-border: 1px solid #E7D5D4;
  --admonition-hljs-bg: rgba(255, 255, 255, 0.75);
  /* docsearch */
  --docsearch-primary-color: #5468ff;
  --docsearch-text-color: #1c1e21;
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: #969faf;
  --docsearch-container-background: rgba(101, 108, 133, 0.8);
  --docsearch-logo-color: #5468ff;
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: #f5f6f7;
  --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: #ebedf0;
  --docsearch-searchbox-focus-background: #fff;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: #444950;
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
  --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, 0.12);

  /* breadcrumbs */
  --breadcrumbs-font-color: #6B7280;
}
