.page-components {
  /* margin: 0 0 0 auto;
  padding-left: 1em; */
  position: relative;
  line-height: 1;
}

@media screen and (max-width: 1024px) {
  .toolbar .page-components,
  .toolbar .page-versions {
    display: none;
  }
}

.page-components .component-menu-toggle {
  color: inherit;
  background: url(../img/chevron.svg) no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0.5rem 1.5rem 0.5rem 0;
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

.page-components .component-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  margin: 1.375rem 0 0 0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.page-components:not(.is-active) .component-menu {
  display: none;
}

.page-components .component {
  display: block;
  padding-top: 0.5rem;
}

.page-components .component.is-current {
  display: none;
}

.page-components .component.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
