/* eslint-disable */
.tabs ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.tabs li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 0.5rem 1rem;
  position: relative;
  border-radius: 18px 18px 0 0;
}

.tabs li,
.tabs ul {
  flex-flow: nowrap;
}

.tabs.ulist li {
  margin-bottom: 0;
  color: var(--color-blue-gray);
}

.tabs.ulist li.is-active {
  background-color: rgba(64, 112, 244, 0.1);
  color: var(--color-ultramarine-blue);
}

.tabs.ulist li + li {
  margin-top: 0;
}

.tabset.is-loading .tabs li:first-child::after,
.tabs li.is-active::after {
  background-color: rgba(64, 112, 244, 0.1);
  content: "";
  display: block;
  /*  height: 3px; */ /* Chrome doesn't always paint the line accurately, so add a little extra */
  position: absolute;
  /*  bottom: -1.5px;  */
  left: 0;
  right: 0;
}

.tabset > .content {
  border: 1px solid rgb(var(--rgb-ultramarine-blue), 0.1);
  padding: 1.25rem;
  border-radius: 0 20px 20px 20px;
}

.tabset.is-loading .tab-pane:not(:first-child),
.tabset:not(.is-loading) .tab-pane:not(.is-active) {
  display: none;
}

.tab-pane > :first-child {
  margin-top: 0;
}

.swagger-ui .info .title small pre {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  background: #7d8492;
}
