[package]
name = "cairo-lang-lowering"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Cairo lowering phase."

[dependencies]
cairo-lang-debug = { path = "../cairo-lang-debug", version = "1.1.0-alpha0" }
cairo-lang-defs = { path = "../cairo-lang-defs", version = "1.1.0-alpha0" }
cairo-lang-diagnostics = { path = "../cairo-lang-diagnostics", version = "1.1.0-alpha0" }
cairo-lang-filesystem = { path = "../cairo-lang-filesystem", version = "1.1.0-alpha0" }
cairo-lang-parser = { path = "../cairo-lang-parser", version = "1.1.0-alpha0" }
cairo-lang-proc-macros = { path = "../cairo-lang-proc-macros", version = "1.1.0-alpha0" }
cairo-lang-semantic = { path = "../cairo-lang-semantic", version = "1.1.0-alpha0" }
cairo-lang-syntax = { path = "../cairo-lang-syntax", version = "1.1.0-alpha0" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "1.1.0-alpha0" }
id-arena.workspace = true
indexmap.workspace = true
itertools.workspace = true
log.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
salsa.workspace = true
smol_str.workspace = true

[dev-dependencies]
cairo-lang-plugins = { path = "../cairo-lang-plugins", version = "1.1.0-alpha0" }
cairo-lang-semantic = { path = "../cairo-lang-semantic", features = ["testing"] }
cairo-lang-test-utils = { path = "../cairo-lang-test-utils", version = "1.1.0-alpha0" }
env_logger.workspace = true
indoc.workspace = true
pretty_assertions.workspace = true
test-log.workspace = true
