{
  "extends": "standard",
  "ignorePatterns": ["**/extensions/*.css","src/css/extensions/swagger-ui.css", "src/css/extensions/*"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }],
    "max-len": [1, 120, 2],
    "spaced-comment": "off"
  }
}
