.vertical-separator-header {
  padding-top: 10px;
  font-size: 25pt;
  color: #e1e1e1;
  font-weight: 400

}

/*a.navbar-item:first-of-type{*/
/*      color: #191919;*/
/*      font-size: 1.1rem
}
*/
.navbar-brand .navbar-item:first-child {
/*  font-size: 1.22222rem; */
  font-size: .88889rem;
  padding:.5rem 1rem;
  line-height:25.6px;
}

.nav-item[data-depth="0"] {
  font-weight: bold;
}

.nav-item[data-depth="1"] {
  font-weight: bold;
}

li.nav-item {
    font-weight: normal;
    font-size: 15.5px;
}

.navbar-dropdown {
  background: #fff;
}

.navbar-dropdown a.navbar-item:hover {
  color: #f77d05;
}
/*
.navbar-brand .navbar-item {
  color: #f6643c
} */

div.title {
  font-weight: 600
}

/*
.navbar {
  background: #fff;
}
*/

b, dt, strong, th {
  font-weight: 600
}

strong strong {
  font-weight: 600
}

.doc a code {
  color: #1565c0
}

.doc a code:hover {
  color: #104d92
}

body {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

code, kbd, pre {
  SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

.doc .source-toolbox {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.doc .conum[data-value] {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  font-weight: 600;
}

.doc h3:not(.discrete), .doc h4:not(.discrete) {
  font-weight: 600
}

.doc .admonitionblock .icon {
  font-weight: 600;
}

.doc .admonitionblock .title, .doc .exampleblock .title, .doc .imageblock .title, .doc .listingblock .title, .doc .literalblock .title, .doc .openblock .title, .doc .tableblock caption, .doc .videoblock .title {
  font-weight: 700;
}

.doc .sidebarblock>.content>.title {
  font-weight: 700;
}

.doc td.hdlist1 {
  font-weight: 700;
}

.doc .menuseq i.caret::before {
  font-weight: 700;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  font-weight: 700
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  font-weight: 700
}

.hljs-section, .hljs-selector-id, .hljs-title {
  font-weight: 700
}

.hljs-subst {
  font-weight: 600
}

.hljs-class .hljs-title, .hljs-type {
  font-weight: 700
}

.hljs-attribute, .hljs-name, .hljs-tag {
  font-weight: 600
}

.hljs-meta {
  font-weight: 700
}

.hljs-strong {
  font-weight: 700
}

table tr:nth-child(2n) {
    background-color: var(--ifm-table-stripe-background);
}
/*
### I _think_ that I added these styles in order to create stripes in table rows.
### However, the right way to do this is using AsciiDoc directives.
:root {
--ifm-table-stripe-background: var(--ifm-color-emphasis-100);
--ifm-color-emphasis-100: var(--ifm-color-gray-100);
--ifm-color-gray-100: #f5f6f7;
}
*/
