[package]
name = "cairo-lang-utils"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "General utilities for the Cairo compiler project."

[features]
testing = []

[dependencies]

chrono.workspace = true
serde.workspace = true
env_logger.workspace = true
indexmap.workspace = true
itertools.workspace = true
log.workspace = true
num-bigint.workspace = true
num-traits.workspace = true

[dev-dependencies]
test-case.workspace = true
test-log.workspace = true
