[package]
name = "cairo-lang-utils"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "General utilities for the Cairo compiler project."

[dependencies]
hashbrown = { workspace = true, features = ["serde"] }
indexmap = { workspace = true }
itertools = { workspace = true, features = ["use_alloc"] }
num-bigint.workspace = true
num-traits.workspace = true
smol_str.workspace = true

# Optional
parity-scale-codec = { workspace = true, optional = true }
salsa = { workspace = true, optional = true }
schemars = { workspace = true, features = ["preserve_order"], optional = true }
serde = { workspace = true, features = ["alloc"], optional = true }
tracing = { workspace = true, optional = true }
tracing-log = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }
vector-map = { workspace = true, optional = true }

[dev-dependencies]
cairo-lang-test-utils = { path = "../cairo-lang-test-utils", features = ["testing"] }
serde_json.workspace = true
test-case.workspace = true
tracing.workspace = true

[features]
default = ["std", "tracing"]
env_logger = ["tracing"]
parity-scale-codec = ["dep:parity-scale-codec"]
schemars = ["dep:schemars", "serde", "std"]
serde = ["dep:serde", "indexmap/serde", "num-bigint/serde", "smol_str/serde"]
std = [
  "indexmap/std",
  "num-bigint/std",
  "num-traits/std",
  "salsa",
  "serde?/std",
  "smol_str/std",
  "vector-map",
]
testing = []
tracing = ["dep:tracing", "dep:tracing-log", "dep:tracing-subscriber", "std"]
