[package]
name = "cairo-lang-test-runner"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Cairo tests runner. Used to run tests written in Cairo."

[dependencies]
anyhow.workspace = true
cairo-lang-compiler = { path = "../cairo-lang-compiler", version = "~2.10.1" }
cairo-lang-filesystem = { path = "../cairo-lang-filesystem", version = "~2.10.1" }
cairo-lang-runner = { path = "../cairo-lang-runner", version = "~2.10.1" }
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "~2.10.1" }
cairo-lang-sierra-to-casm = { path = "../cairo-lang-sierra-to-casm", version = "~2.10.1" }
cairo-lang-sierra-generator = { path = "../cairo-lang-sierra-generator", version = "~2.10.1" }
cairo-lang-starknet = { path = "../cairo-lang-starknet", version = "~2.10.1" }
cairo-lang-test-plugin = { path = "../cairo-lang-test-plugin", version = "~2.10.1" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "~2.10.1" }
colored.workspace = true
itertools = { workspace = true, default-features = true }
num-traits = { workspace = true, default-features = true }
starknet-types-core.workspace = true
rayon.workspace = true

[dev-dependencies]
serde_json.workspace = true
