[package]
name = "cairo-lang-starknet"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Starknet capabilities and utilities on top of Cairo."

[dependencies]
anyhow.workspace = true
cairo-felt.workspace = true
cairo-lang-casm = { path = "../cairo-lang-casm", version = "1.0.0-alpha.7" }
cairo-lang-compiler = { path = "../cairo-lang-compiler", version = "1.0.0-alpha.7" }
cairo-lang-defs = { path = "../cairo-lang-defs", version = "1.0.0-alpha.7" }
cairo-lang-diagnostics = { path = "../cairo-lang-diagnostics", version = "1.0.0-alpha.7" }
cairo-lang-filesystem = { path = "../cairo-lang-filesystem", version = "1.0.0-alpha.7" }
cairo-lang-lowering = { path = "../cairo-lang-lowering", version = "1.0.0-alpha.7" }
cairo-lang-parser = { path = "../cairo-lang-parser", version = "1.0.0-alpha.7" }
cairo-lang-plugins = { path = "../cairo-lang-plugins", version = "1.0.0-alpha.7" }
cairo-lang-semantic = { path = "../cairo-lang-semantic", version = "1.0.0-alpha.7" }
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "1.0.0-alpha.7" }
cairo-lang-sierra-ap-change = { path = "../cairo-lang-sierra-ap-change", version = "1.0.0-alpha.7" }
cairo-lang-sierra-gas = { path = "../cairo-lang-sierra-gas", version = "1.0.0-alpha.7" }
cairo-lang-sierra-generator = { path = "../cairo-lang-sierra-generator", version = "1.0.0-alpha.7" }
cairo-lang-sierra-to-casm = { path = "../cairo-lang-sierra-to-casm", version = "1.0.0-alpha.7" }
cairo-lang-syntax = { path = "../cairo-lang-syntax", version = "1.0.0-alpha.7" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "1.0.0-alpha.7" }
clap.workspace = true
convert_case.workspace = true
genco.workspace = true
indoc.workspace = true
itertools.workspace = true
log.workspace = true
num-bigint.workspace = true
num-integer.workspace = true
num-traits.workspace = true
once_cell.workspace = true
serde.workspace = true
serde_json.workspace = true
sha3.workspace = true
smol_str.workspace = true
thiserror.workspace = true

[dev-dependencies]
cairo-lang-diagnostics = { path = "../cairo-lang-diagnostics", version = "1.0.0-alpha.7" }
cairo-lang-semantic = { path = "../cairo-lang-semantic", features = ["testing"] }
cairo-lang-test-utils = { path = "../cairo-lang-test-utils", version = "1.0.0-alpha.7" }
env_logger.workspace = true
pretty_assertions.workspace = true
test-case.workspace = true
test-log.workspace = true

[[bin]]
name = "starknet-sierra-compile"
path = "src/starknet_sierra_compile.rs"
