[package]
name = "cairo-lang-starknet"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Starknet capabilities and utilities on top of Cairo."

[dependencies]
anyhow.workspace = true
cairo-lang-compiler = { path = "../cairo-lang-compiler", version = "~2.14.0" }
cairo-lang-defs = { path = "../cairo-lang-defs", version = "~2.14.0" }
cairo-lang-diagnostics = { path = "../cairo-lang-diagnostics", version = "~2.14.0" }
cairo-lang-filesystem = { path = "../cairo-lang-filesystem", version = "~2.14.0" }
cairo-lang-lowering = { path = "../cairo-lang-lowering", version = "~2.14.0" }
cairo-lang-parser = { path = "../cairo-lang-parser", version = "~2.14.0" }
cairo-lang-plugins = { path = "../cairo-lang-plugins", version = "~2.14.0" }
cairo-lang-semantic = { path = "../cairo-lang-semantic", version = "~2.14.0" }
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "~2.14.0" }
cairo-lang-sierra-generator = { path = "../cairo-lang-sierra-generator", version = "~2.14.0" }
cairo-lang-starknet-classes = { path = "../cairo-lang-starknet-classes", version = "~2.14.0" }
cairo-lang-syntax = { path = "../cairo-lang-syntax", version = "~2.14.0" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "~2.14.0", features = ["serde"] }
const_format.workspace = true
indent.workspace = true
indoc.workspace = true
itertools = { workspace = true, default-features = true }
salsa.workspace = true
serde = { workspace = true, default-features = true }
serde_json.workspace = true
starknet-types-core.workspace = true
thiserror.workspace = true
typetag.workspace = true

[dev-dependencies]
cairo-lang-debug = { path = "../cairo-lang-debug" }
cairo-lang-diagnostics = { path = "../cairo-lang-diagnostics" }
cairo-lang-plugins = { path = "../cairo-lang-plugins", features = ["testing"] }
cairo-lang-semantic = { path = "../cairo-lang-semantic", features = ["testing"] }
cairo-lang-test-utils = { path = "../cairo-lang-test-utils", features = ["testing"] }
pretty_assertions.workspace = true
test-case.workspace = true
tracing.workspace = true
