[package]
name = "project"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
smol_str.workspace = true
thiserror.workspace = true
toml.workspace = true

[dev-dependencies]
indoc.workspace = true
test-log.workspace = true
