[package]
name = "utils"
version.workspace = true
edition.workspace = true

[features]
testing = []

[dependencies]
chrono.workspace = true
env_logger.workspace = true
indexmap.workspace = true
itertools.workspace = true
log.workspace = true

[dev-dependencies]
test-case.workspace = true
test-log.workspace = true
