[package]
name = "cairo-lang-sierra-to-casm"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Emitting of CASM instructions from Sierra code."

[features]
testing = []

[dependencies]
assert_matches.workspace = true
cairo-lang-casm = { path = "../cairo-lang-casm", version = "0.1.0" }
clap.workspace = true
itertools.workspace = true
log.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "0.1.0" }
cairo-lang-sierra-ap-change = { path = "../cairo-lang-sierra-ap-change", version = "0.1.0" }
cairo-lang-sierra-gas = { path = "../cairo-lang-sierra-gas", version = "0.1.0" }
thiserror.workspace = true
cairo-lang-utils = { path = "../cairo-lang-utils", version = "0.1.0" }

[dev-dependencies]
env_logger.workspace = true
indoc.workspace = true
pretty_assertions.workspace = true
test-case.workspace = true
test-log.workspace = true

[[bin]]
name = "sierra-compile"
path = "src/cli.rs"
