[package]
name = "cairo-lang-sierra-to-casm"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Emitting of CASM instructions from Sierra code."

[dependencies]
assert_matches.workspace = true
cairo-felt.workspace = true
cairo-lang-casm = { path = "../cairo-lang-casm", version = "2.0.0-rc2" }
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "2.0.0-rc2" }
cairo-lang-sierra-ap-change = { path = "../cairo-lang-sierra-ap-change", version = "2.0.0-rc2" }
cairo-lang-sierra-gas = { path = "../cairo-lang-sierra-gas", version = "2.0.0-rc2" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "2.0.0-rc2" }
indoc.workspace = true
itertools.workspace = true
log.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
thiserror.workspace = true

[dev-dependencies]
env_logger.workspace = true
indoc.workspace = true
pretty_assertions.workspace = true
test-case.workspace = true
test-log.workspace = true

[features]
testing = []
