[package]
name = "cairo-lang-starknet-classes"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Starknet definitions for contract classes."

[dependencies]
cairo-lang-casm = { path = "../cairo-lang-casm", version = "~2.14.0", default-features = true, features = [
  "serde",
] }
cairo-lang-sierra = { path = "../cairo-lang-sierra", version = "~2.14.0" }
cairo-lang-sierra-to-casm = { path = "../cairo-lang-sierra-to-casm", version = "~2.14.0" }
cairo-lang-sierra-type-size = { path = "../cairo-lang-sierra-type-size", version = "~2.14.0" }
cairo-lang-utils = { path = "../cairo-lang-utils", version = "~2.14.0", features = ["tracing"] }
convert_case.workspace = true
itertools = { workspace = true, default-features = true }
num-bigint = { workspace = true, default-features = true }
num-integer.workspace = true
num-traits = { workspace = true, default-features = true }
serde = { workspace = true, default-features = true }
serde_json.workspace = true
sha3.workspace = true
smol_str.workspace = true
starknet-types-core.workspace = true
thiserror.workspace = true

[dev-dependencies]
cairo-lang-sierra-generator = { path = "../cairo-lang-sierra-generator" }
cairo-lang-test-utils = { path = "../cairo-lang-test-utils", features = ["testing"] }
indoc.workspace = true
pretty_assertions.workspace = true
test-case.workspace = true
tracing.workspace = true
