:root {
  --aa-text-color-rgb: 255, 255, 255;
  --aa-primary-color-rgb: 175, 202, 255;
  --aa-muted-color-rgb: 204, 204, 204;
  --aa-input-background-color-rgb: 27, 27, 27;
  --aa-background-color-rgb: 27, 27, 27;
  --aa-selected-text-color-rgb: 11, 11, 11;
  --aa-selected-color-rgb: var(--aa-primary-color-rgb);
  --aa-selected-color-alpha: 1;
  --aa-description-highlight-background-color-rgb: 0 255 255;
  --aa-description-highlight-background-color-alpha: 0.25;
  --aa-icon-color-rgb: 255, 255, 255;
  --aa-panel-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 47px -3px rgba(0, 0, 0, 0.15), 0px 12px 22px -2px rgba(0, 0, 0, 0.68);
  --aa-scrollbar-track-background-color-rgb: 44, 46, 64;
  --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
  --aa-panel-border-color-rgb: 49, 49, 49;
  --aa-mark-underline-color: 255, 255, 255;
  --aa-item-background-rgb: 30, 29, 29;
}

.aa-Input::placeholder {
  color: rgba(var(--aa-primary-color-rgb), 1);
}

.aa-Item[aria-selected=true] svg{
  color: rgb(var(--aa-selected-text-color-rgb));
}