.nav-container {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: calc(17 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav-mobile);
  visibility: hidden;
  background: var(--nav-background);
  overflow-y: auto;
}

.nav-link,
.nav-text{
  display: inline-block;
  padding-block: 0.625rem;
  flex: 1;
  padding-right: 2rem;
}

/* @media screen and (min-width: 769px) {
  .nav-container {
    width: var(--nav-width);
  }
} */

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(15.5 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    top: 0;
    visibility: visible;
    top: var(--navbar-height);
    z-index: var(--z-index-nav);
    width: var(--nav-width);
    overflow-y: unset;
  }
  .nav .nav-panel-explore {
    bottom: 0;
  }
}

.nav-container.is-active {
  visibility: visible;
}

.nav {
  background: var(--nav-background);
  position: relative;
  /* top: var(--toolbar-height); */
  /* height: var(--nav-height); */
}
@media screen and (max-width: 1023.5px) {
  .nav {
    height: 100% !important;
  }
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    top: calc(var(--navbar-height) + var(--toolbar-height));
    box-shadow: none;
    position: sticky;
    height: calc(var(--nav-height--desktop) - var(--footer-height));
  }
  .nav-panel-menu {
    overflow-y: auto;
  }

}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

html.is-clipped--nav {
  overflow-y: hidden;
}

.nav-panel-menu {
  overscroll-behavior: none;
  /* height: var(--nav-panel-menu-height); */
}



.nav-panel-menu:not(.is-active) .nav-menu {
  opacity: 0.75;
}

.nav-panel-menu:not(.is-active)::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-menu {
  min-height: 100%;
  line-height: var(--nav-line-height);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .nav-menu {
    padding: 0.5rem 0 0.5rem 0;
  }
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: inherit;
  font-weight: var(--body-font-weight-bold);
  margin: 0;
  padding: 0.25em 0 0.125em;
}

.nav-menu a {
  color: inherit;
}

.nav-list {
  margin-left: 1rem;
  padding: 0;
}

.nav-menu > .nav-list + .nav-list {
  margin-top: 0.5rem;
}

.nav-item {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.5;
  /* padding-block: 0.625rem; */
  margin-left: -16rem;
  padding-left: 16rem;
  color: var(--nav-fc);
}

/* adds some breathing room below a nested list */
.nav-item-toggle ~ .nav-list {
  /* padding-bottom: 0.125rem; */
  /* margin-left: 0.5em; */
  /* margin-top: 10px; */
}

.nav-menu > .nav-list {
  margin-top: 10px;
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .nav-menu > .nav-list{
    margin-left: 1rem;
  }
}

/* matches list without a title */
.nav-item[data-depth="0"] > .nav-list:first-child {
  display: block;
  /* margin: 0; */
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-item-toggle {
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: calc(var(--nav-line-height) * 1em);
  width: calc(var(--nav-line-height) * 1em);
  margin-top: 0.7em;
  right: 1em;

  mask-image: url(../img/chevron-toggle.svg);
  -webkit-mask-image: url(../img/chevron-toggle.svg);
  background-color: var(--color-gray-80);
}

.nav-item-toggle:hover {
  background-color: var(--nav-selected-icon-bg);
}

.nav-item.is-active > .nav-item-toggle {
  transform: rotate(90deg);
  background-color: var(--nav-selected-icon-bg);
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  font-weight: var(--body-font-weight-bold);
}

.nav-panel-explore {
  background: var(--nav-background);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3.5em;
  left: 0;
}

.nav-panel-explore:not(:first-child) {
  top: auto;
  max-height: var(--nav-panel-explore-height);
}

.nav-panel-explore .context {
  font-size: calc(15 / var(--rem-base) * 1rem);
  flex-shrink: 0;
  color: var(--nav-muted-color);
  box-shadow: 0 -1px 0 var(--nav-panel-divider-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  line-height: 1;
  height: var(--drawer-height);
  padding: 0.5em 1.5em;
}

.nav-panel-explore .context .version {
  display: flex;
  align-items: inherit;
}

.nav-panel-explore .context .version::after {
  content: "";
  background: url(../img/chevron.svg) no-repeat center right / auto 100%;
  width: 1.25em;
  height: 0.75em;
}

.nav-panel-explore .components {
  line-height: var(--doc-line-height);
  flex-grow: 1;
  box-shadow: inset 0 1px 5px var(--nav-panel-divider-color);
  background: var(--nav-secondary-background);
  padding: 0.5rem 0.75rem 0 0.75rem;
  margin: 0;
  overflow-y: scroll;
  max-height: 100%;
  display: block;
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .component {
  display: block;
}

.nav-panel-explore .component + .component {
  margin-top: 0.5rem;
}

.nav-panel-explore .component:last-child {
  margin-bottom: 0.75rem;
}

.nav-panel-explore .component .title {
  font-weight: var(--body-font-weight-bold);
  color: inherit;
}

.nav-panel-explore .versions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: -0.25rem;
  line-height: 1;
}

.nav-panel-explore .component .version {
  display: block;
  margin: 0.375rem 0.375rem 0 0;
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--nav-border-color);
  color: inherit;
  opacity: 0.75;
  white-space: nowrap;
  border-radius: 0.9rem;
  text-decoration: none;
  opacity: 1;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0.4em 1em 0.2em 1em;
}

.nav-panel-explore .component .is-current a {
  border-color: currentColor;
  opacity: 0.9;
  font-weight: var(--body-font-weight-bold);
}

.nav-panel-explore .component .version a:hover {
  border: 1px solid var(--color-ink-blue);
  color: var(--color-ink-blue);
}

.nav-panel-explore .component .version.is-current a,
.nav-panel-explore .component .version a:focus {
  background: var(--color-ink-blue);
  color: var(--color-white);
}

.nav-list > .nav-item > span{
  margin-left: -16rem;
  padding-left: 16rem;
  display: inline-block;
}
.nav-list > .nav-item[data-depth="1"] > span,
.nav-list > .nav-item[data-depth="1"] > a,
.nav-list > .parent[data-depth="1"] > span > a {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: var(--nav-heading-fc);
}

.nav-panel-explore.is-active .context .version::after {
  transform: rotate(180deg);
  margin-left: 0.5em;
}

.nav-item-toggle {
  /* margin-left: -1.5em; */
}

.nav-item.is-current-page > .nav-item-toggle {
  /* margin-top: 0.5em; */
}

.nav-list > .nav-item[data-depth="1"] {
  /* margin-top: 1em; */
}

.nav-menu > .title {
  display: none;
}

.is-current-page.parent > span,
.is-current-page:not(.parent) {
  background-color: var(--nav-selected-bg);
}

.is-current-page.parent > span {
  display: flex;
}

.is-current-page.parent > span > a,
.is-current-page > .nav-link {
  color: var(--nav-selected-fc);
  font-weight: 500;
}

.components-versions {
  width: calc(var(--nav-width) - 1.5em);
  height: 100%;
  align-items: center;
  display: inherit;
  padding: 0 1em 0 0;
  justify-content: space-between;
  border-right: 1px solid var(--color-platinum-gray);
}

.nav-toggle {
  margin-left: 1rem;
}