nav.pagination {
  display: flex;
  border-top: 1px solid var(--toolbar-border-color);
  line-height: 1;
  margin: 2rem -1rem -1rem;
  padding: 2rem;
}

nav.pagination span {
  display: flex;
  flex: 50%;
  flex-direction: column;
}

nav.pagination .prev {
  padding-right: 0.5rem;
}

nav.pagination .next {
  margin-left: auto;
  padding-left: 0.5rem;
  text-align: right;
}

nav.pagination span::before {
  line-height: 1.5;
  font-size: 0.875rem;
  padding-bottom: 2px;
}

nav.pagination .prev::before {
  content: "Prev";
}

nav.pagination .next::before {
  content: "Next";
}

nav.pagination a {
  position: relative;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}

nav.pagination a::before,
nav.pagination a::after {
  color: var(--toolbar-muted-color);
  font-weight: normal;
  font-size: 1.5em;
  line-height: 0.75;
  position: absolute;
  top: -1px;
  width: 1rem;
}

nav.pagination .next a::after {
  content: "";
  width: 1em;
  height: 1em;
  right: -1.5rem;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url(../img/chevron-right.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-image: url(../img/chevron-right.svg);
  background-color: var(--doc-link-color);
}

nav.pagination .prev a::before {
  content: "";
  width: 1em;
  height: 1em;
  left: -1.5rem;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url(../img/chevron-left.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-image: url(../img/chevron-left.svg);
  background-color: var(--doc-link-color);
}

nav.pagination .prev a:hover::before,
nav.pagination .next a:hover::after {
  background-color: var(--link_hover-font-color)
}