aside.toc.embedded {
  display: none;
}

@media screen and (min-width: 1024px){
  .aside.toc.embedded {
    display: block;
  }

}

.toc-menu {
  color: var(--toc-font-color);
}

.toc.sidebar .toc-menu {
  margin-right: 0.75rem;
  position: sticky;
  top: var(--toc-top);
}

.toc .toc-menu h3 {
  color: var(--toc-heading-font-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.toc.sidebar .toc-menu h3 {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: flex-end;
}

.toc .toc-menu ul {
  font-size: 0.875rem;
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc.sidebar .toc-menu ul {
  max-height: var(--toc-height);
  overflow-y: auto;
  overscroll-behavior: none;
  scrollbar-width: none;
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* @media screen and (min-width: 1024px) {
  .toc .toc-menu ul {
    font-size: calc(13.5 / var(--rem-base) * 1rem);
  }
} */

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu li[data-level="2"] a {
  padding-left: 2rem;
}

.toc .toc-menu li[data-level="3"] a {
  padding-left: 3rem;
}

.toc .toc-menu a {
  color: inherit;
  /* border-left: 2px solid var(--toc-border-color); */
  display: inline-block;
  padding: 0.5rem 0 0.5rem 1rem;
  text-decoration: none;
  position: relative;
}

.toc .toc-menu a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--divider-line-color);
  left: 2px;
}

.toc .toc-menu a.is-active::after {
  content: '';
  width: 5px;
  height: 40%;
  left: 0px;
  position: absolute;
  background: var(--doc-link-color);
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

.toc .toc-menu a:hover {
  color: var(--link-font-color);
}

.toc .toc-menu a.is-active {
  /* border-left-color: var(--link-font-color); */
  color: var(--doc-link-color);
  font-weight: 500;
}

.sidebar.toc .toc-menu a:focus {
  background: var(--panel-background);
}

.toc .toc-menu .is-hidden-toc {
  display: none !important;
}
