@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: 
    local("Inter"),
    local("Inter-Regular"),
    url("../font/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: 
    local("Inter Italic"),
    local("Inter-Italic"),
    url("../font/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: 
    local("Inter Medium"),
    local("Inter-Medium"),
    url("../font/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  src: 
    local("Inter MediumItalic"),
    local("Inter-MediumItalic"),
    url("../font/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: 
    local("Inter SemiBold"),
    local("Inter-SemiBold"),
    url("../font/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: 
    local("Inter SemiBoldItalic"),
    local("Inter-SemiBoldItalic"),
    url("../font/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: 
    local("Inter Bold"),
    local("Inter-Bold"),
    url("../font/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: 
    local("Inter BoldItalic"),
    local("Inter-BoldItalic"),
    url("../font/Inter-BoldItalic.woff") format("woff");
}