[package]
name = "cairo-execute"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Executable for creating executables and running them for the Cairo programming language"

[dependencies]
anyhow.workspace = true
bincode = { version = "2.0.0-rc.3" }
cairo-lang-compiler = { path = "../../cairo-lang-compiler", version = "~2.10.1" }
cairo-lang-executable = { path = "../../cairo-lang-executable", version = "~2.10.1" }
cairo-lang-runner = { path = "../../cairo-lang-runner", version = "~2.10.1" }
cairo-lang-utils = { path = "../../cairo-lang-utils", version = "~2.10.1" }
cairo-vm =  { workspace = true, features = ["clap"] }
clap.workspace = true
num-bigint.workspace = true
serde_json.workspace = true
