[package]
name = "cairo-execute"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "Executable for creating executables and running them for the Cairo programming language"

[dependencies]
anyhow.workspace = true
bincode.workspace = true
cairo-lang-compiler = { path = "../../cairo-lang-compiler", version = "~2.12.1" }
cairo-lang-executable = { path = "../../cairo-lang-executable", version = "~2.12.1" }
cairo-lang-execute-utils = { path = "../../cairo-lang-execute-utils", version = "~2.12.1" }
cairo-lang-runner = { path = "../../cairo-lang-runner", version = "~2.12.1" }
cairo-lang-sierra-generator = { path = "../../cairo-lang-sierra-generator", version = "~2.12.1" }
cairo-vm = { workspace = true, features = ["clap"] }
clap.workspace = true
num-bigint.workspace = true
serde_json.workspace = true
